/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Joan&family=Open+Sans:wght@300;400;600;700;800&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Joan&family=Open+Sans:wght@300;400;600;700;800&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Joan&family=Roboto:ital,wght@0,100;1,400&display=swap'); */
body {
  margin: 0;
  font-family: 'Open Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}


.categorySelect{
  width:100%;
  height:35px;
  border-radius: 4px;
  border-color: #83ccc5;
}
.categoryErrorMsg{
  color:red;
  text-align: left;
  font-size: 14px;
}
h3{
  overflow:hidden;
  text-align: center;
}
h3:before,h3:after{
  background-color: black;
  content: "";
  display: inline-block;
  height: 1px;
  position:relative;
  vertical-align: middle;
  width:50%;
}
h3:before{
  right:0.5em;
  margin-left: -50%;
}
h3:after{
  left:0.5em;
  margin-right:-50%;
}

.latest-title{
  color:black;
  font-weight:600;
}